<div class="container-fluid full-h">
  <div class="jumbotron text-center full-h">
    <h1>
      <span translate>Home Page</span>
    </h1>
    <app-crud
      [items]="cats | async"
      [formStructure]="catFormStructure"
      [entityName]="'Cats'"
      (create)="createCat($event)"
      (update)="updateCat($event)"
      (delete)="deleteCat($event)"
    ></app-crud>

    <app-crud
      [items]="owners | async"
      [formStructure]="ownersFormStructure$ | async"
      [entityName]="'Owners'"
      (create)="createOwner($event)"
      (update)="updateOwner($event)"
      (delete)="deleteOwner($event)"
    ></app-crud>
    <br />
  </div>
</div>
